@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;500;600;700;800&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
}

.cart-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: -webkit-center;
    margin: 2rem 3rem 0 3rem;
}

.cart-container-inner {

    padding-left: 4rem;
}

.cart-container-inner .cartheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-container-inner .cartheading h1 {
    font-size: 36px;
    color: #111111;
    font-weight: 700;
}

.cartdiv {
    color: #484848;
    /* display: flex; */
    font-size: .875rem;
    line-height: 1.571;
    padding: 2.5rem 0;
}

.cartdivmain {
    display: flex;
    margin: 2rem 0 2.5rem 0;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 2rem;
}

.cartdetails {
    grid-row-gap: 2rem;
    display: grid;
    grid-template-columns: auto 7rem;
    grid-template-rows: repeat(1, fit-content(70px) [row-start] 40px [row-end]);
    line-height: 1.57;
    width: 100%;
}

.carticon {
    display: flex;
}

.cartimg {
    display: grid;
    justify-items: center;
}

.cartimg img {
    height: 140px;
    padding: 8%;
    margin-right: 9%;
}

.cartimg span {
    text-align: center;
    background-color: #f5f5f5;
    padding: 4px 12px;
    font-size: 12px;
    margin-top: 2%;
    font-weight: 700;
}

.cartdetailsinner {
    display: grid;
    justify-items: flex-start;
}

.cartdetails div h4 {
    margin-bottom: 0;
    font-size: 16px;
    color: #484848;
    font-weight: 700;
}

.cartdetails div p {
    margin-top: 0;
    font-size: 14px;
    color: #484848;
}

.cartproduct {
    display: grid;
    /* align-items: center;
    grid-column: 1/3;
    grid-row: 2;
    grid-template-columns: 5.3125rem max-content auto; */
}

.cartproductbutton {
    display: flex;
    border: 1px solid #a1a1a1;
    justify-content: space-around;
    border: 1px solid #b1afaf;
    border-radius: 20px;
    padding: 6px 0;
    width: 45%;
}

.cartproductbutton button {
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
}

.wishproductbutton {
    display: flex;
    border: 1px solid #a1a1a1;
    justify-content: space-around;
    border: 1px solid #b1afaf;
    border-radius: 20px;
    padding: 6px 0;
}

.wishproductbutton button {
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
}

.savebutton {
    display: flex;
}

.savebutton button {
    border: none;
    background-color: transparent;
    margin-top: 4%;
    text-align: center;
    background-color: #f5f5f5;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 700;
    margin-right: 8px;
}

.wishsavebutton {
    display: flex;
}

.wishsavebutton button {
    border: none;
    background-color: transparent;
    margin-top: 4%;
    text-align: center;
    background-color: #f5f5f5;
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 700;
    margin-right: 8px;
}

.cartproduct select {
    border-radius: 50px;
    font-size: 16px;
    height: 61%;
    border: 1px solid #dfdfdf;
    padding: 11%;
    transform: scale(.90);
    transform-origin: left center;
    width: 100%;
    /* line-height: 1.625; */
}

.cartproduct select:hover {
    border: 1px solid #acacac;
    outline: none;
}

.cartproduct option {
    padding-right: 10%;
}

.cartproduct h5 {
    color: #484848;
    color: rgb(var(--colour-text-and-icon-2, 72, 72, 72));
    font-weight: 400;
    font-size: 14px;
}

.order-summary {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    width: 29%;
}

DIV.order-summary DIV:first-child {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 700;
    color: #484848;
}

.cartdelivery {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #484848;
}

.order-summary .cartdelivery span {
    font-size: 0.875rem;
    font-weight: 500;
    color: #484848;
    text-align: initial;
    margin: 1rem 0;
}

.cartotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.25rem;
    margin-top: 1rem;
}

.order-summary .cartotal span {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #484848;
}

.order-summary .cartotal h2 {
    font-size: 22px;
}

.carthr {
    border-bottom: 2px solid #000;
    height: 2px;
    width: 100%;
}

.deliveryEstimate {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 14px;
    color: #484848;
    font-weight: 700;
}

.viewdelivery {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0058A3;
    border-radius: 4px;
    padding: 2rem 1.3rem;
    row-gap: 1rem;
    margin: 2.5rem 0 .5rem;
}

.viewdelivery button span {
    align-items: center;
    background: #fff;
    border-radius: 64px;
    display: inline-flex;
    flex-shrink: 0;
    height: 2.5rem;
    justify-content: center;
    margin-left: 1rem;
    width: 2.5rem;
}

.viewdelivery button span svg {
    font-size: 22px;
    color: #000;
    font-weight: 600;
}

.viewdelivery button {
    display: flex;
    border: none;
    background-color: #0058A3;
    color: #fff;
    font-weight: 700;
    text-align: right;
    font-size: 16px;
}

.cartreturnpolicy {
    display: grid;
    row-gap: 1rem;
}

.cartreturnpolicy a {
    color: #484848;
    font-weight: 700;
    font-size: 14px;
}

.cartempty {
    margin: 3rem 3rem 0 3rem;
    display: none;
}

.cartemptyinner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 1.25rem 0;
}

.cartemptyinner h2 {
    color: #111111;
    font-size: 24px;
}

.cartemptyinner button {
    color: #111111;
    font-size: 24px;
    border: none;
    background-color: #fff;
}

.cartemptygo {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    padding: 2rem 1.25rem;
}

.cartemptyinnergo {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.cartemptyinnergo h2 {
    margin: 0;
    font-size: 16px;
}

.cartemptyinnergo a,
span {
    font-size: 14px;
}
.wishmain {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.wishlist-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 2rem 1rem 3rem;
    position: relative;
}

.wishlist-inner {
    margin: 0rem 2rem 0rem 1rem;
}

.wishbox {
    display: flex;
    justify-content: space-between;
}

.wishbox h1,
p {
    margin: 0;
}

.wishbox h4 {
    margin-top: 8px;
    margin-right: 1rem;
}

.wishlistsave {
    text-align: left;
    border: 1px solid #dfdfdf;
    margin: 2.5rem 0;
    padding: 1rem 1.25rem;
    border-radius: 4px;
}

.wishlistsave h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.wishlistsave p {
    font-size: 14px;
}

.wishlistsave button {
    background-color: #0058A3;
    color: #fff;
    padding: .5rem;
    font-size: 14px;
    border: none;
    outline: none;
    min-height: 3.2rem;
    padding: 0 1.6rem;
    border-radius: 64px;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.buyonline {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1rem;
    gap: 1rem;
}

.buyonline button {
    display: flex;
    flex: 1 1;
    align-items: center;
    padding: 1.8rem -0.5rem;
    padding: 4px 26px;
    outline: 0;
    margin-top: 7%;
    text-align: center;
    background: none;
    text-decoration: none;
    min-height: 3.25rem;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
}

.buyonline .wishactive {
    border: 2px solid #0058a3;
}

.buyonline .wishnotactive {
    border: 1px solid #dfdfdf;
}

.wishEstimate {
    display: flex;
    text-align: center;
}

.wishEstimate p {
    text-align: center !important;
    color: #484848;
    font-size: 14px;
    margin: 0;
}

.wish-summary {
    position: sticky;
    top: 40px;
    width: auto;
    right: 1.5rem;
    transition: all .3s ease;
}

.wish-summary p {
    font-weight: 700;
    color: #484848;
    font-size: 16px;
    text-align: left;
    border-bottom: 2px solid #111111;
    padding-bottom: 1rem;
}

.wish-summary h5 {
    font-weight: 500;
    color: #484848;
    font-size: 14px;
    margin: 5px;
}

.wishtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.wishotal span {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: #484848;
}

.wishotal h2 {
    font-size: 22px;
}

.wishdelivery {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0058A3;
    border-radius: 4px;
    padding: 2rem 1.3rem;
    row-gap: 1rem;
    margin: 1.3rem 0;
}

.wishdelivery button span {
    align-items: center;
    background: #fff;
    border-radius: 64px;
    display: inline-flex;
    flex-shrink: 0;
    height: 2.5rem;
    justify-content: center;
    margin-left: 1rem;
    width: 2.5rem;
}

.wishdelivery button {
    display: flex;
    border: none;
    background-color: #0058A3;
    color: #fff;
    font-weight: 700;
    text-align: right;
    font-size: 16px;
}