svg{
    font-size: 25px;
}
#search {
    background-color: transparent;
    padding: 4px 0;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    text-align: initial;
    cursor: initial;
    color: #f5f5f5;
    outline: none;
}
.cartqty {
    align-items: center;
    display: flex;
    justify-content: center;
    background: #0058A3;
    height: 22px;
    width: 22px;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    margin-top: -7px;
    margin-left: -6px;
}
.dch svg{
    font-size: 21px;
}
#loginsvg svg{
    font-size: 21px;
}
#loginsvg span{
    font-weight: 700;
}
#search1 svg{
    padding-bottom: .1rem;
    width: 1.3rem;
    height: 1.3rem;
}
.thirdnav{
    margin: 30px 115px;
}
#search1{
    border-radius: 27px;
    background-color: #41383814;
    align-items: center;
}
p>svg{
    font-size: 18px;
    font-weight: bold;
}
a#right{
    text-decoration: none !important;
    color: black !important;
}
#leftSidebar{
    width: 488px;
    box-shadow: 0 0 10px black;
    padding-left: 30px;
    scroll-behavior: smooth;
    overflow: scroll;
    height: 650px;
    position: fixed;
    top:0px;
    z-index: 10;
    background: white;
    text-align: justify;
}

/* ------------right side bar */
div#rightSidebar {
    position: fixed;
    right: 0%;
    width: 500px;
    top:0px;
    z-index: 10;
    height: 650px;

}
svg#temp {
    background: #fcfcfc;
    border-radius: 20px;
    padding: 7px;
    font-size: 33px;
}
button#rightlogin\ hov {
    border-radius: 30px;
    margin: 10px;
    font-size: 14px;
    border: none;
    min-height: 2.5rem;
    padding: 0 1.5rem;
    font-size: 13px;
    font-weight: bold;

}
#hov:hover{
    text-decoration: underline;
}

#submenu1,#submenu2,#submenu3{
    display: none;
}
