*{
    margin: 0px;
    text-align: left;
    
}


.Filters_productList > button {
    width: fit-content;
    background-color: rgb(245,245,245);
    border:  none;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 30px;
}